<div class='navigation'>
<ul>
  <li><a ng-href='/' class='index'>All Links</a></li>
  <li><a ng-href='shorten' class='create'>Shorten</a></li>
</ul>
  <a href='/logout' class='logout'>Logout</a>
</div>
<div id='container'></div>

<div ng-controller="ShortenController">
  <form novalidate class="css-form" name="linkEntry" ng-model="form" ng-submit="submit()">
    <input type="url" name="link" ng-model="link" required />
    <input type="submit" value="submit" ng-disabled="linkEntry.$invalid" />
  </form>
  <img class='spinner' src='/client/spiffygif_46x46.gif' ng-show="spinnerStatus" />
  <div class='message'></div>
</div>
